* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.recipe-card {
	margin: 1rem;
	width: 420px;
	height: auto;
	padding: 1.5rem;
	border-radius: 5px;
	/* box-shadow: 5px 10px 18px #888888; */
	background-color: aliceblue;
}

.recipe-img {
	object-fit: cover;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0.75rem 0;
	width: 80%;
	height: 50%;
}

.recipe-title {
	text-align: center;
}

.recipe-ingredients {
	margin: 0.5rem 0;
	font-weight: bold;
	padding: 0 1rem;
}

.recipe-ingredients li span {
	font-weight: normal;
}
